{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Entries{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Processing: {{ file['title'] }}</p>
    {% if fileProcessed %}
        <div class="alert alert-warning callout-warning">This file has already been processed!</div>
    {% endif %}
    <p>Please categorise each entry of this file:</p>
    <form action="/process/entries" method="post">
        <table class="table">
            <input type="hidden" name="processed" value="{{ fileProcessed }}">
            <thead>
                <tr>
                    {% if fileProcessed %}
                        <th>ID</th> 
                    {% endif %}
                    <th>Date</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for line in lines %}
                    <tr>
                        {% if fileProcessed %}
                        <td>
                            {{ line[6] }}
                            <input type="hidden" name="{{ loop.index0 }}-id" value="{{ line[6] }}">
                        </td>
                        {% endif %}
                        <td>
                            {{ line[0] }}
                            <input type="hidden" name="{{ loop.index0 }}-date" value="{{ line[0] }}">
                            <input type="hidden" name="{{ loop.index0 }}-id" value="{{ line[6] }}">
                        </td>
                        <td>
                            {{ line[5] }}
                            <input type="hidden" name="{{ loop.index0 }}-month" value="{{ line[3] }}">
                        </td>
                        <td>
                            {{ line[4] }}
                            <input type="hidden" name="{{ loop.index0 }}-year" value="{{ line[4] }}">
                        </td>
                        <td>
                            {{ line[1] }}
                            <input type="hidden" name="{{ loop.index0 }}-description" value="{{ line[1] }}">
                        </td>
                        <td>
                            {{ line[2] }}
                            <input type="hidden" name="{{ loop.index0 }}-amount" value="{{ line[2] }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="fileID" value="{{ file['id'] }}">
        <button class="btn btn-primary">{% if fileProcessed %}Update{% else %}Add{% endif %} Entries</button>
    </form>
{% endblock %}
