{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Entries{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Processing: {{ file['title'] }}</p>
    {% if fileProcessed %}
        <div class="callout-warning">
            <p>This file has already been processed!</p>
        </div>
    {% endif %}
    <p>Please categorise each entry of this file:</p>
    <form action="/process/entries" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for line in lines %}
                    <tr>
                        <td>
                            {{ line[0] }}
                            <input type="hidden" name="{{ loop.index0 }}-date" value="{{ line[0] }}">
                        </td>
                        <td>
                            {{ line[1] }}
                            <input type="hidden" name="{{ loop.index0 }}-description" value="{{ line[1] }}">
                        </td>
                        <td>
                            {{ line[2] }}
                            <input type="hidden" name="{{ loop.index0 }}-amount" value="{{ line[2] }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary">Add Entries</button>
    </form>
{% endblock %}
