{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Files{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Processing: {{ file }}</p>
    <table>
        {% for line in lines %}
            {% if loop.index <= 6 %}
                {% if loop.first %}
                    <thead>
                        <tr>
                            {% for entry in line %}
                                <th>{{ entry }}</th>
                            {% endfor %}
                        </tr>
                        {# add the type of file #}
                    </thead>
                {% else %}
                    {% if loop.index == 1 %}
                    <tbody>
                    {% endif %}
                    {% set headerArr = lines[0] %}
                    {% set outerLoop = loop %}
                        <tr>
                            {% for entry in line %}
                                {% if not loop.last %}
                                    <td>{{ entry }}</td>
                                {% else %}
                                    <td><input type="hidden" name="{{ outerLoop.index - 1 }}-entryHash" value="{{ entry }}" /></td>
                                {% endif %}
                            {% endfor %}
                            {# categorise #}
                        </tr>
                    {% if loop.index == 6 %}
                        <tr><td>...</td></tr>
                    </tbody>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    <form action="/process/file/{{ file }}" method="post">
        <p>Please select the file type or add a new one:</p>
        {% if fileTypes|length > 0 %}
            {% for fileType in fileTypes %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">{{ fileType['title'] }}</label>
              </div>
            {% endfor %}
        {% endif %}
        <input class="mb-3" type="text" name="fileType" />
        <button class="btn btn-primary">Process</button>
    </form>
{% endblock %}
