{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Process Files{% endblock %}</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <a href="/process/files">Files</a>
        </div>
        <div class="col">
            <p>Here are the links to the process pages</p>
            <p>The steps required to process a file are:</p>
            <ul>
                <li>Upload a file</li>
                <li>Identify what type of file</li>
                <li>Identify what needs to be done to each line to add it to the entries table</li>
                <li>Add each line to the entries table</li>
            </ul>
            <p>Should everything else be left to later?</p>
        </div>
    </div>    
    {% endblock %}
