{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h2></h2>
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="sticky-top">
            <th>Categories</th>
            {% for month in months%}
                <th>{{ month[2] }} {{ month[1] }}</th>
            {% endfor %}
            <th>3 Month average</th>
            <th>6 Month average</th>
            <th>12 Month average</th>
        </thead>
        <tbody>
        {% for categoryArr in categories %}
            <tr>
            {% for category in categoryArr %}
                <td>{{ category }}</td>
            {% endfor %}    
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--
    <form action="/" method="GET" class="row">
        <div class="col-auto">
            <p class="mt-2">Select time period to display</p>
        </div>
        <div class="col-auto">
            <select class="form-select" name="month">
                <option>Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" name="year">
                <option>Year</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row">
        {% if categories|length == 0 %}
            <p>No entries for selected timeframe</p>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td>{{ category.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    -->
{% endblock %}
